<settings>
    <server>
        <server></server>
        <channel></channel>
    </server>
    <userInfo>
        <username>MyBot</username>
        <email></email>
    </userInfo>
    <users>
        <user>
            <username></username>
            <email></email> <!-- for gravatar -->
        </user>
    </users>
</settings>
